<%- include header %>
<script type="text/javascript">
$(pageInit);
function pageInit()
{
    //$.extend(XHEDITOR.settings,{shortcuts:{'ctrl+enter':submitForm}});
    //$('#content').xheditor({html5Upload:false,upMultiple:'1',upLinkUrl:"upload.php",upLinkExt:"zip,rar,txt",upImgUrl:"/uploadImg",upImgExt:"jpg,jpeg,gif,png",upFlashUrl:"upload.php",upFlashExt:"swf",upMediaUrl:"upload.php",upMediaExt:"wmv,avi,wma,mp3,mid"});
}
function insertUpload(arrMsg)
{console.log(arrMsg)
    var i,msg;
    for(i=0;i<arrMsg.length;i++)
    {
        msg=arrMsg[i];
        $("#uploadList").append('<option value="'+msg.id+'">'+msg.localname+'</option>');
    }
}
function submitForm(){$('#frmDemo').submit();}
function onsub() {
    typename = $(typeid).find('option:selected').text();
    myform.typename.value=typename;
    return true;
}
</script>

<!--//-&#45;&#45;seg东西&#45;&#45;//-->


<!--[if lt IE 9]>
<div class="alert alert-danger topframe" role="alert">你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a>
</div>
<![endif]-->
<!--//-&#45;&#45;sege东西&#45;&#45;//-->



<br/>
<form id="question"  class="form" name="myform" method="post" action="./ask" onsubmit="return onsub();" style="height: 830px;">
            <div class="form-group">
                <label for="title" class="sr-only">标题</label>
                <input id="myTitle" type="text" name="title" required="" data-error="" autocomplete="off" class="form-control tagClose input-lg" placeholder="标题：一句话说清问题，用问号结尾" value="">
            </div>
            <div class="row" style="margin-left:0;margin-right:0">
                <div class="form-group ">
                    <label for="tags" class="sr-only">标签：至少1个，最多5个</label>
                    <select id="typeid" name="typeid"/>
                    <option value="1" >javascript</option>
                    <option value="2">php</option>
                    <option value="3">python</option>
                    <option value="4">mysql</option>
                    <option value="5">node.js</option>
                    <option value="6">html5</option>
                    <option value="7">linux</option>
                    <option value="8">其他</option>
                    </select>
                </div>
            </div>
            <div id="questionText " class="editor liveMode"  style="width: 100%;height: 830px">
                    	<textarea id="content" name="content"   class="mono form-control " placeholder="1. 描述你的问题

            2. 贴上相关代码

            3. 贴上报错信息

            4. 贴上相关截图

            5. 已经尝试过哪些方法仍然没解决（附上相关链接）" style="background-position: right top; background-repeat: no-repeat no-repeat;height: 630px;"></textarea>
                <input type="hidden" name="subflag" value="1">
                <input type="hidden" name="typename">
            <button data-toggle="tooltip" data-placement="top" type="submit" data-type="question" id="publishIt" class="btn btn-primary ml10" data-text="发布问题" >发布问题</button>
            </div>

</form>
  </body>  
</html>  