<%- include header %>
<script type="text/javascript">
$(pageInit);
function pageInit()
{
    $.extend(XHEDITOR.settings,{shortcuts:{'ctrl+enter':submitForm}});
    $('#content').xheditor({html5Upload:false,upMultiple:'1',upLinkUrl:"upload.php",upLinkExt:"zip,rar,txt",upImgUrl:"/uploadImg",upImgExt:"jpg,jpeg,gif,png",upFlashUrl:"upload.php",upFlashExt:"swf",upMediaUrl:"upload.php",upMediaExt:"wmv,avi,wma,mp3,mid"});
}
function insertUpload(arrMsg)
{console.log(arrMsg)
    var i,msg;
    for(i=0;i<arrMsg.length;i++)
    {
        msg=arrMsg[i];
        $("#uploadList").append('<option value="'+msg.id+'">'+msg.localname+'</option>');
    }
}
function submitForm(){$('#frmDemo').submit();}
function onsub() {
    typename = $(typeid).find('option:selected').text();
    myform.typename.value=typename;
    return true;
}
</script>

<!--//-&#45;&#45;seg东西&#45;&#45;//-->

<link rel="stylesheet" href="https://static.segmentfault.com/v-59b26b31/global/css/global.css">
<link rel="stylesheet" href="https://static.segmentfault.com/v-59b26b31/qa/css/qa.css">
<link rel="stylesheet" href="https://static.segmentfault.com/v-59b26b31/global/css/responsive.css">


<!--[if lt IE 9]>
<div class="alert alert-danger topframe" role="alert">你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a>
</div>
<![endif]-->
<!--//-&#45;&#45;sege东西&#45;&#45;//-->



<br/>
<form id="question"  class="form" name="myform" method="post" action="./ask" onsubmit="return onsub();">
        <div class="container">
            <div class="form-group">
                <label for="title" class="sr-only">标题</label>
                <input id="myTitle" type="text" name="title" required="" data-error="" autocomplete="off" class="form-control tagClose input-lg" placeholder="标题：一句话说清问题，用问号结尾" value="">
            </div>
            <div class="row" style="margin-left:0;margin-right:0">
                <div class="form-group ">
                    <label for="tags" class="sr-only">标签：至少1个，最多5个</label>
                    <select id="typeid" name="typeid"/>
                    <option value="1">javascript</option>
                    <option value="2">php</option>
                    <option value="3">python</option>
                    <option value="4">mysql</option>
                    <option value="5">node.js</option>
                    <option value="6">html5</option>
                    <option value="7">linux</option>
                    <option value="8">其他</option>
                    </select>
                </div>
            </div>
                <!--<textarea id="content"  name="content" cols="120" rows="9"></textarea>  -->
            <div id="questionText " class="editor liveMode" style="width: 100%;">
                    <div class="editor-toolbar" id="wmd-button-bar">
                        <ul class="editor-mode">
                            <li class="pull-right"><a class="editor__menu--preview" title="预览模式"></a></li>
                            <li class="pull-right"><a class="editor__menu--live muted" title="实况模式"></a></li>
                            <li class="pull-right"><a class="editor__menu--edit" title="编辑模式"></a></li>
                            <li class="pull-right editor__menu--divider"></li>
                            <li id="wmd-zen-button" class="pull-right" title="全屏"><a class="editor__menu--zen"></a>
                            </li></ul>
                        <ul id="wmd-button-row" class="editor__menu clearfix">
                            <li class="wmd-button" id="wmd-bold-button" title="加粗 <strong> Ctrl+B" style="left: 0px;"><a class="editor__menu--bold" style="background-position: 0px 0px;"></a></li>
                            <li class="wmd-button" id="wmd-italic-button" title="斜体 <em> Ctrl+I" style="left: 25px;"><a class="editor__menu--bold" style="background-position: -20px 0px;"></a></li>
                            <li class="editor__menu--divider wmd-spacer1" id="wmd-spacer1"></li>
                            <li class="wmd-button" id="wmd-link-button" title="链接 <a> Ctrl+L" style="left: 75px;"><a class="editor__menu--bold" style="background-position: -40px 0px;"></a></li>
                            <li class="wmd-button" id="wmd-quote-button" title="引用 <blockquote> Ctrl+Q" style="left: 100px;"><a class="editor__menu--bold" style="background-position: -60px 0px;"></a></li>
                            <li class="wmd-button" id="wmd-code-button" title="代码 <pre><code> Ctrl+K" style="left: 125px;"><a class="editor__menu--bold" style="background-position: -80px 0px;"></a></li>
                            <li class="wmd-button" id="wmd-image-button" title="图片 <img> Ctrl+G" style="left: 150px;"><a class="editor__menu--bold" style="background-position: -100px 0px;"></a></li>
                            <li class="editor__menu--divider wmd-spacer2" id="wmd-spacer2"></li>
                            <li class="wmd-button" id="wmd-olist-button" title="数字列表 <ol> Ctrl+O" style="left: 200px;"><a class="editor__menu--bold" style="background-position: -120px 0px;"></a></li>
                            <li class="wmd-button" id="wmd-ulist-button" title="普通列表 <ul> Ctrl+U" style="left: 225px;"><a class="editor__menu--bold" style="background-position: -140px 0px;"></a></li>
                            <li class="wmd-button" id="wmd-heading-button" title="标题 <h1>/<h2> Ctrl+H" style="left: 250px;"><a class="editor__menu--bold" style="background-position: -160px 0px;"></a></li>
                            <li class="wmd-button" id="wmd-hr-button" title="分割线 <hr> Ctrl+R" style="left: 275px;"><a class="editor__menu--bold" style="background-position: -180px 0px;"></a></li>
                            <li class="editor__menu--divider wmd-spacer3" id="wmd-spacer3"></li>
                            <li class="wmd-button" id="wmd-undo-button" title="撤销 - Ctrl+Z" style="left: 325px;"><a class="editor__menu--bold" style="background-position: -200px -20px;"></a></li>
                            <li class="wmd-button" id="wmd-redo-button" title="重做 - Ctrl+Shift+Z" style="left: 350px;"><a class="editor__menu--bold" style="background-position: -220px -20px;"></a></li>
                            <li class="editor__menu--divider wmd-spacer4" id="wmd-spacer4"></li>
                            <li class="wmd-button" id="wmd-help-button" title="Markdown 语法" style="left: 400px;"><a class="editor__menu--bold" style="background-position: -300px 0px;"></a></li>
                        </ul>
                    </div>
                    <div class="wmd">
                    	<textarea id="content" name="content"   class="mono form-control wmd-input tabIndent" placeholder="1. 描述你的问题

                                2. 贴上相关代码

                                3. 贴上报错信息

                                4. 贴上相关截图

                                5. 已经尝试过哪些方法仍然没解决（附上相关链接）" style="background-position: right top; background-repeat: no-repeat no-repeat;">

                        </textarea>
                     <div style="position: absolute;z-index: 100;top: 31px;right: 0;" class="alert alert-info code-detect hide" role="alert"><span class="showVideo" style="cursor: pointer;">使用代码格式化改进排版</span><span class="disable" style="margin-left: 10px; cursor: pointer;">✕</span></div>
                    </div><div class="editor-line"></div>
                    <div class="editor-preview">
                        <div class="fmt" id="wmd-preview">

                        </div>
                    </div>
                </div><a class="editor__resize" href="javascript:void(0);">调整高度</a>


            <input type="hidden" name="subflag" value="1"/>
            <input type="hidden" name="typename">
            <button data-toggle="tooltip" data-placement="top" type="submit" data-type="question" id="publishIt" class="btn btn-primary ml10" data-text="发布问题" >发布问题</button>


                <!--<input type="submit" value="提问"/>  -->
        </div>
   </form>
  </body>  
</html>  