<!DOCTYPE html>
<html>
<head>
    <title>软件小站</title>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="/javascripts/bootstrap/3.3.0/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <!--<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="/javascripts/jquery/1.11.1/jquery.min.js"></script>


    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <!--<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
    <script src="/javascripts/bootstrap/3.3.0/js/bootstrap.min.js"></script>


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/global.css' />
    <script src="../javascripts/seek.js" ></script>
</head>
<body>
<div style="width:1024px;height:3em;margin:1em auto">
    <a href="/">
        <span class="glyphicon glyphicon-comment" style="float:left;font-size:2em"><b>软件小站</b></span>
    </a>

    &nbsp;
    <ul class="horul">
        <li><a href="/title/active">问答</a></li>
        <li><a href="http://localhost:8421">文章</a></li>
        <li><a href="/title/classroom">课堂</a></li>
        <li><a href="/title/chat">聊天</a></li>
    </ul>
    &nbsp;
    <div style="float:right;line-height:2em;">  
    <table>  
      <tr>  

        <td>
            <form id="form1">
                <input type="text" id="keyword"  placeholder="请输入关键词" style="width:240px;height:30px;" >
                <input type="submit" value="搜索"  onclick = "ok();" />
            </form>
        &nbsp;&nbsp;
        </td>  
    <% if(loginbean==undefined){ %>  
        <td>  
    <input type="button" id="loginBtn" class="btn btn-success" data-toggle="modal" href="/users/login" data-target="#loginModal" value="登录/注册"/>
        &nbsp;&nbsp;  
        </td>  
    <% }else{ %>  
        <td>  
        你好,<a href="/users/userInfo"><%=loginbean.nicheng%></a>
        &nbsp;&nbsp;&nbsp;  
        </td>  
        <td>  
        <div class="btn-group-vertical">  
            <button type="button" class="btn btn-default dropdown-toggle"   
              data-toggle="dropdown">  
              撰写  
              <span class="caret"></span>  
            </button>  
            <ul class="dropdown-menu">  
              <li><a href="/question/ask">提问题</a></li>  
              <li><a href="#">写文章</a></li>  
              <li><a href="#">记笔记</a></li>  
              <li class="divider"></li>  
              <li><a href="#">草稿箱</a></li>  
            </ul>  
          </div>
        </td>  
        <td>  
        &nbsp;&nbsp;&nbsp;  
    <input type="button" class="btn btn-success" value="注销" onClick="javascript:location.href='/logout'"/>  
        &nbsp;&nbsp;&nbsp;  
        </td>  
    <% } %>  
        </tr>  
          </table>  
    </div> 
</div>
<div class="menu">
    <span><a href="/">home</a></span>
    <span>|</span>
    <span><a href="/capacity/javascript">javascript</a></span>
    <span><a href="/capacity/php">php</a></span>
    <span><a href="/capacity/python">python</a></span>
    <span><a href="/capacity/mysql"> mysql</a></span>
    <span><a href="/capacity/node.js"> node.js</a></span>
    <span><a href="/capacity/html5"> html5</a></span>
    <span><a href="/capacity/linux"> linux</a></span>
    <span>...</span>
</div>